
@{
    ViewBag.Title = "fileUploadDemo";
}

<h2>fileUploadDemo</h2>

<form enctype="multipart/form-data" method="post">
	<input type="file" name="photo" />
	<input type="submit" value="開始上傳"/>
</form>
