
@{
    ViewBag.Title = "showCount";
}

<h2>showCount</h2>
<script>
	let count = parseInt(document.getElementById("count").innerHTML);
	count += 1;
	document.getElementById("count").innerHTML = count;

</script>
@using (Html.BeginForm())
{
	<p>
		<h2 id="count">@ViewBag.Count</h2>
	</p>

	<input type="submit" value="OK"/>
}
